body {
    margin: 0 auto;
    text-align: center;
    background: #4C3d53;
    font-family: monospace;
    color:white;
}

header{
    overflow: hidden;
    background: #2C2230;
    color: #FBAECD;
    font-family: 'Rowdies', cursive;
    font-weight: 400;
    display: flex;
}

h1{
    text-align: left;
    padding: 1em;
    font-size: 2em;
    width: 80%;
    margin: 0;
}

button:active{
    background-color: #ED91B6;
  box-shadow: 0 1em #4C3d53;
  transform: translateY(.5em);
}



#icono{
    width: 1em;
    height: 1em;
    margin-top: 1em;
    margin-left: 1em;
    font-size: 2em;
}

.botonMenu{
    line-height: 2em;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      background-image: linear-gradient(rgb(250, 195, 217), rgb(231, 122, 166));
      border-radius: 0.3em;
      border: none;
      color: #4C3d53;
      height: 4em;
     font-family: monospace;
      padding: 1em;
      margin-top: 1.5em;
      margin-right:1em;
  }

  
#iniciar{
    display: flex;
    margin-top: 1em;
    font-size: 1.5em;
}

#prender{
    width:33%;
}

#datos{
    width: 33%;
}

#ronda{
    width:33%;
}
.maincontainer{
    position: relative;    
    margin-top: 15vh;
    padding: 1em;

}

.coloresSimon{
    display: inline-grid;
    grid-gap:1em;
    grid-template-columns: auto auto; /*dos columnas*/
    transform: rotate(45deg);
    
}

.square{
    border-radius: 0.3em;
    width: 15em;
    height: 15em;
    
}

.square:active,
.active{
    filter:brightness(200%);
}


.rojo{
    background-color: #77261b;
}

.azul{
    background-color: #05306b;
}

.amarillo {
    background-color: #888104;
}

.verde { 
    background-color: rgb(1, 82, 1);
}

#encender{
    

    top: 1em;
    right: 10em;
    border:none;
    border-radius:0.3em;
    color:whitesmoke;
    background-color: #FBAECD;
    padding:0.5em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(rgb(250, 195, 217), rgb(231, 122, 166));
    border-radius: 0.3em;
    border: none;
    color: #4C3d53;
    font-family: monospace;
}


#encender:disabled{
    background-image: linear-gradient(rgb(156, 66, 102), rgb(26, 7, 14));;
      border-radius: 0.3em;
      border: none;
      color: gray;
}

.gano{
    animation:spin 1s ease-in-out;
}

.aparecer{
    display: block;
    width: 20%;
    margin: 0 auto;
    position: absolute;
    height: 11em;
    z-index: 1000;
    background-color: rgba(44, 34, 48, .9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Rowdies';
    border-radius: 1%;
}



.aparecer h3{
    font-size: 2em; 
}

.desaparecer{
    display:none;
}

.botonCartel{
    font-family: monospace;
    width: 45%;
    margin: 0 auto;
    line-height: 2em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(#fac3d9, #e77aa6);
    border-radius: 0.5em;
    border: none;
    color: #4C3d53;
    margin-left: 0.5em;
    margin-right:0.5em
}


#cartelReglas{
    position: absolute;
    background-color: rgba(44, 34, 48, .9);
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cartelReglas button{
    font-family: monospace;
    float: right;
    margin: 1em;
    right: 3vw;
    width: 3vw;
    line-height: 2em;
    font-size: 1em;
    background-image: linear-gradient(#fac3d9, #e77aa6);
    border-radius: 0.5em;
    border: none;
    color: #4C3d53;
}

#cartelReglas p {
    font-family: monospace;
    color: white;
    padding: 5vh;
}

#reglas{
    position: absolute;
    bottom: 3vh;
    right: 3vw;
    width: 3vw;
    line-height: 2em;
    font-size: 1em;
    background-image: linear-gradient(#fac3d9, #e77aa6);
    border-radius: 0.5em;
    border: none;
    color: #4C3d53;
}


@keyframes spin {
    100% {transform: rotate(180deg)}
}


@media only screen and (max-width: 768px) and (orientation: portrait){

    .aparecer{
        text-align: center;
        font-size: 1em;
        padding: 2em;
        height: auto;
    }

    .aparecer h3{
        font-size: 1em;
    }

    header{
        font-size: 1.5em;
    }

    h1{
        font-size: 1em;
        white-space: nowrap;
        font-weight:400;

    }


    #icono{
        width: .5em;
        height: .5em;
        margin-top: .5em;
        margin-left: .5em;
    }

    .botonMenu {
        font-weight: bold;
        font-size: .7em;
        text-align: center;
        background-image: linear-gradient(rgb(250, 195, 217), rgb(231, 122, 166));
        border-radius: 0.3em;
        border: none;
        color: #4C3d53;
        height: 2em;
        padding: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-top: 1.5em;
        font-family: monospace;
    }

    .coloresSimon{
        margin-top: 5em;;
    }

    .square{
        width:10em;
        height:10em;
    }

    #datos{
        margin: 0;
        font-size: 1em;
    }

    #encender{
        margin:0;
        width:80%;
    }

    #ronda{
        margin: 0;
        font-size: 1em;
    }

    #iniciar{
        display:flex;
    }

    .aparecer{
        width: 60%;
        font-weight: 200;
    }

    #reglas{
        width: 5vw;
    }

    

}

@media only screen and (max-width: 768px) and (orientation: landscape) {

    #reglas{
        width: 5vw;
    }

    .aparecer{
        text-align: center;
        font-size: 1em;
        padding: 2em;
        height: auto;
    }

    .aparecer h3{
        font-size: 1em;
    }

    header{
        font-size: 1em;
    }

   .botonMenu{
        font-weight: bold;
        text-align: center;
        font-size: 1em;
        background-image: linear-gradient(rgb(250, 195, 217), rgb(231, 122, 166));
        border-radius: 0.3em;
        border: none;
        color: #4C3d53;
        height: 2em;
        padding: 0;
        margin-left: 0.3em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-top: 1em;
        margin-right: 1em;
        font-family: monospace;
 
   }

   #icono{
       font-size: 1em;
   }

   
   header h1{
    text-align: left;
    padding: 1em;
    font-size: 1em;
    width: 80%;
    margin: 0;
    font-weight: 400;
}

#iniciar {
    margin-top: .5em;
}

#prender{
    width:33%;
}

#datos{
     margin: 0;
    font-size: 1em;
    width: 33%;
}

#ronda {
    margin:0;
    font-size: 1em;
    width: 33%;
}

.square{
    height: 6em;
    width:6em;
}

.maincontainer{
    margin-top:2em;
}

.botonCartel{
    margin-right: 0;
    margin-left: 0;
}


}

@media only screen and (min-width: 768px) and (max-width: 1500px){

    .maincontainer{
        margin-top: 10vh;
    }

    .square{
        border-radius: 0.3em;
        width: 8em;
        height: 8em;
    }

    .botonCartel{
        margin-right: 0;
        margin-left: 0;
    }


}